html {
    background: #ffffff;

}

body {
    background: #ffffff;
    font-family: century gothic, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    
}

.Raster{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-rows: auto auto auto auto;     
}


.Titel {
    font-family: century gothic;
    color: white;
    background-color:#a0e0e0;
    text-shadow:5px 5px 5px black;
    text-align: center;
    font-size: 30px;
    grid-column: 1/3;
    grid-row: 1;
    
}

.ZelleKontaktdaten{
    grid-column: 2;
    grid-row: 2;
    padding-bottom: 50px;
    padding-top: 130px;
    padding-left: 50px;
    padding-right: 50px;
}

    
.Profilbild {
    width:10%;
    
      
    }
    


.ZelleProfilbild{
    grid-column: 1;
    grid-row: 2;
    width: 60%;
    height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 50px;
}

.ZelleMeineKurse{
  grid-column: 1;
  grid-row: 3;
  padding-left: 50px;
    
    
}

.ZelleSocial {
  grid-column: 2;
  grid-row: 3; 
  padding-left: 100px;
  padding-right: 50px;    
    
}

.ZelleFußzeile {
    grid-column: 1/3;
    grid-row: 4;
    font-family: century gothic;
    color: white;
    background-color:#a0e0e0;
    text-shadow:5px 5px 5px black;
    text-align: center;
    font-size:18px;

}


ul {list-style-type: disc;
    margin-bottom: 1em;

}


a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #aa1933;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #a0e0e0;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #aa1933;
  background-color: transparent;
  text-decoration: underline;
}